@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "GabrijelaDacnik";
  src:url("GabrijelaDacnik.ttf");
}
h1 {
    font-family: "GabrijelaDacnik", sans-serif;
    font-size: 40px;
    color: #04223e;
    background-color: rgba(170, 234, 244, 0.6);
    padding: 20px;
    border-radius: 400px;
}
h2 {
    font-family: serif;
    font-size: 30px;
    margin-left: 20px;
}
p {
    font-family: serif;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    width: 1100px;
}
.h_1 {font-family: serif;}
.pgf_1 { background-color: rgba(204, 239, 243, 0.3);}
.link_1 {font-family: serif;
    font-size: 20px;
    color: #04223e;
    margin-left: 20px;}
mark {
    background-color: #f3e8a2;
}
ul {
    padding:30px;
    margin-left:200px;
    width: 300px;
}
li { display: inline;
    background-color: #aaebf4;
    padding: 20px;
    border-radius: 15px;
}
li:active {background-color: #7bafdb;}
li a { color: #04223e;
    font-family: serif;
}
li a:link {text-decoration: none;}
li a:hover {text-decoration: underline;}
li a:visited {color: #3f403f;}
img {
    height: 200px;
    margin-left: 20px;
}
iframe {
   margin-left: 20px;
}
video {
   margin-left: 20px;
}
.v1 {margin-left: 250px;}
.v2{margin-left: 125px;}
.gif {margin-left: 125px;}
body {
    background-image: url("slike/background.jpg");
}
